* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
}

body,
html {
    height: 100%;
    width: 100%;
    background-color: rgb(185, 185, 185);
}

#nav, #footer  {
    height: 10%;
    /* background: #6d6d6d; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px;

}

.navElem {
    width: 15%;
    display: flex;
    align-items: center;
    justify-content: space-around;

}

.navElem h1 {
    font-family: 'Times New Roman', Times, serif;
    font-weight: 400;
    font-size: 35px;
}

.navElem h3 {
    font-weight: bold;
}

#heroSection {
    height: 80%;
    width: 100%;
    /* background: #71bd81; */
}

#heroSection>h1 {
    text-align: center;
    /* background: #a7a6a6; */
    font-size: 430px;
    letter-spacing: 5px;

}

#img1 {
    height: 38%;
    position: absolute;
    right: 17%;
    top: 42%;
    z-index: 10;
}

#img2 {
    width: 15%;
    position: absolute;
    right: 25%;
    top: 75%;
    z-index: 9;
}

#img3 {
    height: 30%;
    position: absolute;
    right: 37%;
    top: 52%;
    z-index: 8;
}

.content {
    /* background: #eeb0b0; */
    height: 21%;
    width: 13%;
    position: absolute;
    left: 3%;
    bottom: 15%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    line-height: 25px;
}

.content h2 {
    font-size: 20px;
    font-weight: bold;
}

#btn1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#btn2 {
    text-decoration: underline;
}