* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
}

body,
html {
    height: 100%;
    width: 100%;
    background-color: rgb(185, 185, 185);
}

nav, #footer  {
    height: 10vh;
    width: 100vw;
    /* background: #6d6d6d; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 5%;

}

.navElem {
    width: 20vw;
    display: flex;
    align-items: center;
    justify-content: space-around;
    /* background-color: aqua; */
}

.navElem h1 {
    font-family: 'Times New Roman', Times, serif;
    font-weight: 400;
    font-size: 3vw;
}

.navElem a {
    font-size: 1.1vw;
    font-weight: bold;
    color: black;
    text-decoration: none;
}

#heroSection {
    height: 80vh;
    width: 100vw;
    /* background: #71bd81; */
}

#heroSection h1 {
    text-align: center;
    width: 100vw;
    /* background: #a7a6a6; */
    font-size: 23vw;
    letter-spacing: 5px;
}

#img1 {
    height: 38%;
    position: absolute;
    right: 17%;
    top: 42%;
    z-index: 10;
}

#img2 {
    width: 15%;
    position: absolute;
    right: 25%;
    top: 75%;
    z-index: 9;
}

#img3 {
    height: 30%;
    position: absolute;
    right: 37%;
    top: 52%;
    z-index: 8;
}

.content {
    /* background: #eeb0b0; */
    height: 21vh;
    width: 13vw;
    position: absolute;
    left: 3%;
    bottom: 15%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    line-height: 25px;
}

.content h2 {
    font-size: 1.2vw;
    font-weight: bold;
}

.content p {
    font-size: 0.9vw;
}

.btn {
    width: 15vw;
    height: 7vh;
    font-size: 1.5vw;
    background-color: transparent;
    border: none;
}

#btn1 a {
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-decoration: none;
    color: #000;
    
}

#btn2 a {
    color: #000;
}